doctype html
html
  head
    style 
      include ../stylesheet.css
  body
    div.container.listing-reg
      h1 Your fitness pal
      a.btn.btn-info-outline.btn-lg(class='button' href='/') Home

      block content